{% extends "template.html" %}
{% block conteudo %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
<a class="btn btn-primary" href="{{ url_for('anexar') }}">Novo</a>

<h3 style="text-align:center">{{ project }}</h3>
    <div id="Lançamento" class="container">
        <div class="page-header" style="text-align:center">
            <h5>RELAÇÃO DE MATERIAIS - LANÇAMENTO DE CABOS DE FIBRAS ÓPTICAS</h5>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>UND</th>
                    <th>quantidade</th>
                </tr>
            </thead>
            <tbody>
            {% for cabo in fiber %}
                <tr>
                    <td>{{ cabo }}</td>
                    <td>M</td>
                    <td>{{ fiber[cabo] }}</td>
                </tr>
            {% endfor %}

            {% for alca in strap %}
                <tr>
                    <td>Alça {{ alca }}</td>
                    <td>und</td>
                    <td>{{ strap[alca] }}</td>
                </tr>
            {% endfor %}

            {% for laco in tie %}
                <tr>
                    <td>Laço {{ laco }}</td>
                    <td>und</td>
                    <td>{{ tie[laco] }}</td>
                </tr>
            {% endfor %}

                <tr>
                    <td>BRAÇADEIRA AJUSTÁVEL BAP4 (1000MM) C/ PARAFUSO</td>
                    <td>und</td>
                    <td>{{ user_fusion }}</td>
                </tr>

                <tr>
                    <td>SUPORTE PARA CABOS ÓPTICOS SCO1</td>
                    <td>und</td>
                    <td>{{ sco }}</td>
                </tr>

                <tr>
                    <td>PLAQUETA DE IDENTIFICAÇÃO DE CABO ÓPTICO ONLINE TELECOM</td>
                    <td>und</td>
                    <td>{{ platelet_launch }}</td>
                </tr>

                <tr>
                    <td>FIO DE ESPINAR ISOLADO FEI-125</td>
                    <td>RL</td>
                    <td>{{ wire_launch }}</td>
                </tr>

                <tr>
                    <td>RESERVA TÉCNICA OPTILOOP TIPO GOTA C/ KIT FIXACAO</td>
                    <td>CX</td>
                    <td>{{ rt }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="Fusão" class="container">
        <div class="page-header" style="text-align:center">
            <h5>RELAÇÃO DE MATERIAIS - LANÇAMENTO DE CABOS DE FIBRAS ÓPTICAS</h5>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>UND</th>
                    <th>quantidade</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>CAIXA DE EMENDA ÓPTICA AÉREA 24F C/ SUPORTE RESERVA DPR</td>
                    <td>und</td>
                    <td>{{ box }}</td>
                </tr>

                <tr>
                    <td>CAIXA DE DISTRIBUIÇÃO ÓPTICA CTO PRESLEY</td>
                    <td>und</td>
                    <td>{{ presley }}</td>
                </tr>

                <tr>
                    <td>BANDEJA PARA CAIXA DE EMENDA ÓPTICA DPR</td>
                    <td>und</td>
                    <td>{{ box * 2 }}</td>
                </tr>

                <tr>
                    <td>BANDEJA INFERIOR PARA CTO PRESLEY</td>
                    <td>und</td>
                    <td>{{ bandeja_presley }}</td>
                </tr>

                {% for cto in rede_cto %}
                    <tr>
                        <td>{{ cto }}</td>
                        <td>und</td>
                        <td>{{ rede_cto[cto] }}</td>
                    </tr>
                {% endfor %}

                {% for spl in spliter %}
                    <tr>
                        <td>{{ spl }}</td>
                        <td>und</td>
                        <td>{{ spliter[spl] }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>BRAÇADEIRA AJUSTÁVEL BAP4 (1000MM) C/ PARAFUSO DPR</td>
                    <td>und</td>
                    <td>{{ bap_fusion }}</td>
                </tr>

                <tr>
                    <td>PLAQUETA DE IDENTIFICAÇÃO DE CABO ÓPTICO ONLINE TELECOM</td>
                    <td>und</td>
                    <td>{{ platelet_fusion }}</td>
                </tr>

                <tr>
                    <td>FIO DE ESPINAR ISOLADO FEI-125</td>
                    <td>RL</td>
                    <td>{{ wire_fusion }}</td>
                </tr>

                <tr>
                    <td>PRENSA CABO POLIMERICO P/ CORDOALHA DIELÉTRICA</td>
                    <td>und</td>
                    <td>{{ prensa_fiber }}</td>
                </tr>

                <tr>
                    <td>PROTETOR DE EMENDA PE-04 45MM 3,4MM</td>
                    <td>und</td>
                    <td>{{ tube_45 }}</td>
                </tr>

                <tr>
                    <td>PROTETOR DE EMENDA PE-05 60MM 3,4MM</td>
                    <td>und</td>
                    <td>{{ tube_60 }}</td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock %}