{% extends "template.html" %}
{% block conteudo %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
<a class="btn btn-primary" href="{{ url_for('anexar') }}">Novo</a>
    <div id="Lançamento" class="container">
        <div class="page-header" style="text-align:center">
            <h5>RELAÇÃO DE MATERIAIS - LANÇAMENTO DE CABOS DE FIBRAS ÓPTICAS</h5>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>UND</th>
                    <th>quantidade</th>
                </tr>
            </thead>
            <tbody>
            {% for cabo in fiber %}
                <tr>
                    <td>{{ cabo }}</td>
                    <td>M</td>
                    <td>{{ fiber[cabo] }}</td>
                </tr>
            {% endfor %}

            {% for alca in strap %}
                <tr>
                    <td>Alça {{ alca }}</td>
                    <td>und</td>
                    <td>{{ strap[alca] }}</td>
                </tr>
            {% endfor %}

            {% for laco in tie %}
                <tr>
                    <td>Laço {{ laco }}</td>
                    <td>und</td>
                    <td>{{ tie[laco] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}