{% extends "template.html" %}
{% block conteudo %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
<a class="btn btn-primary" href="{{ url_for('anexar') }}">Novo</a>
<a class="btn btn-primary" href="{{ url_for('novo_usuario') }}">Criar Login</a>
      <form action="{{ url_for('upload_file') }}" method="POST" enctype=multipart/form-data>
          {{form.csrf_token }}
          <div>
              {{ form.file.label(class="form-label") }}
              {{ form.file(class="form-control") }}
              Expansion <input type="checkbox" value="Expansion" name="project"><br>
              Full <input type="checkbox" value="Full" name="project">
          </div>
          <div>
              {{ form.salvar(class="btn btn-primary") }}
          </div>

      </form>
{% endblock %}'